$color-white: #fff;
$color-black: #000;

$font-big: 3.6rem;
$font-medium: 2.4rem;
$font-xm: 1.8rem;
$font-regular: 1.4rem;

$color-bgc-nav: #140630;
$color-bgc-section: #140630;
$color-bgc-comments: #ededed;
$color-icon-comments: #d3d3d3;
$color-bgc-footer: #140630;
$color-title-list-footer: #0e3050;
$color-nav-list: #140630;
$color-nav-list-hover: #b82040;
$color-class-active: #362852;

$font-title-gallery: 2rem;
$font-title-nav: 2rem;
$font-title-art: 10rem;
$font-social-list: 2rem;
$font-nav-list: $font-xm;
